# Secrets Component: Kubernetes Secrets
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: kubernetes-secrets
  namespace: todo
spec:
  type: secretstores.kubernetes
  version: v1
  metadata: []